Content/4096icon.psd
Content/bin/DesktopGL/Content/Fonts/ClearSans-Regular.xnb
Content/Fonts/clear-sans.zip
Content/Fonts/ClearSans-Bold.ttf
Content/Fonts/ClearSans-BoldItalic.ttf
Content/Fonts/ClearSans-Italic.ttf
Content/Fonts/ClearSans-Light.ttf
Content/Fonts/ClearSans-Medium.ttf
Content/Fonts/ClearSans-MediumItalic.ttf
Content/Fonts/ClearSans-Thin.ttf
Content/obj/DesktopGL/Content/.mgcontent
Content/obj/DesktopGL/Content/.mgstats
Content/obj/DesktopGL/Content/Fonts/ClearSans-Regular.mgcontent
obj/4096sharp.csproj.nuget.dgspec.json
obj/4096sharp.csproj.nuget.g.props
obj/4096sharp.csproj.nuget.g.targets
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/4096sharp.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/4096sharp.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/4096sharp.assets.cache
obj/Debug/netcoreapp3.1/4096sharp.csproj.AssemblyReference.cache
obj/Debug/netcoreapp3.1/4096sharp.csproj.BuildWithSkipAnalyzers
obj/Debug/netcoreapp3.1/4096sharp.csproj.CopyComplete
obj/Debug/netcoreapp3.1/4096sharp.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/4096sharp.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/4096sharp.dll
obj/Debug/netcoreapp3.1/4096sharp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/netcoreapp3.1/4096sharp.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/4096sharp.pdb
obj/Debug/netcoreapp3.1/4096sharp.sourcelink.json
obj/Debug/netcoreapp3.1/apphost.exe
obj/project.assets.json
obj/project.nuget.cache
obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Release/netcoreapp3.1/4096sharp.AssemblyInfo.cs
obj/Release/netcoreapp3.1/4096sharp.AssemblyInfoInputs.cache
obj/Release/netcoreapp3.1/4096sharp.assets.cache
obj/Release/netcoreapp3.1/4096sharp.csproj.AssemblyReference.cache
obj/Release/netcoreapp3.1/4096sharp.csproj.BuildWithSkipAnalyzers
obj/Release/netcoreapp3.1/4096sharp.csproj.CopyComplete
obj/Release/netcoreapp3.1/4096sharp.csproj.CoreCompileInputs.cache
obj/Release/netcoreapp3.1/4096sharp.csproj.FileListAbsolute.txt
obj/Release/netcoreapp3.1/4096sharp.dll
obj/Release/netcoreapp3.1/4096sharp.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/netcoreapp3.1/4096sharp.genruntimeconfig.cache
obj/Release/netcoreapp3.1/4096sharp.pdb
obj/Release/netcoreapp3.1/4096sharp.sourcelink.json
obj/Release/netcoreapp3.1/apphost.exe
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectEvaluation/4096sharp.projects.v7.bin
.vs/ProjectEvaluation/4096sharp.metadata.v7.bin
.vs/8192sharp/v17/.suo
.vs/4096sharp/v17/.wsuo
.vs/4096sharp/v17/.suo
.vs/4096sharp/v17/.futdcache.v2
.vs/4096sharp/DesignTimeBuild/.dtbcache.v2
.vs/4096sharp/copilot/122114790
bin/Release/netcoreapp3.1/runtimes/win-x86/native/soft_oal.dll
bin/Release/netcoreapp3.1/runtimes/win-x86/native/SDL2.dll
bin/Release/netcoreapp3.1/runtimes/win-x64/native/soft_oal.dll
bin/Release/netcoreapp3.1/runtimes/win-x64/native/SDL2.dll
bin/Release/netcoreapp3.1/runtimes/osx/native/libSDL2-2.0.0.dylib
bin/Release/netcoreapp3.1/runtimes/osx/native/libopenal.1.dylib
bin/Release/netcoreapp3.1/runtimes/linux-x64/native/libSDL2-2.0.so.0
bin/Release/netcoreapp3.1/runtimes/linux-x64/native/libopenal.so.1
bin/Release/netcoreapp3.1/MonoGame.Framework.dll
bin/Release/netcoreapp3.1/Content/Fonts/ClearSans-Regular.xnb
bin/Release/netcoreapp3.1/4096sharp.zip
bin/Release/netcoreapp3.1/4096sharp.runtimeconfig.json
bin/Release/netcoreapp3.1/4096sharp.runtimeconfig.dev.json
bin/Release/netcoreapp3.1/4096sharp.pdb
bin/Release/netcoreapp3.1/4096sharp.exe
bin/Release/netcoreapp3.1/4096sharp.dll
bin/Release/netcoreapp3.1/4096sharp.deps.json
*.vsidx
